.listSection > h1 {
  padding-bottom: 10px;
}

.listSection > form {
  display: flex ;
  padding-bottom: 20px;
  max-width: 500px;
  height: 30px;
}

.listSection > form > input {
  width: 70%;
}

.listSection > form > button {
  width: 30%;
}

.listSection_list {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #aaa;
}

.listSection_title {
  margin-bottom: 10px;
}

.listSection_elements {
  padding: 5px;
  border: 1px solid #aaa;
}

.listSection_ol {
  /* list-style-type: none; */
  padding-left: 20px;
}